parameters:
    level: 7
    phpVersion: 70400
    paths:
        - wp-user-groups.php
        - wp-user-groups
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - tests/phpstan-stubs.php
    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 1
